{{set "title" title}}
{{set "description" description}}

<section>
    {{> brandHeader}}
    {{> submenu }}
    {{!-- Your content here  ...  --}}
    <div class="text-gray-800 text-xl font-semibold italic underline">
        {{ content }}
    </div>
</section>