APP_NAME=KuppaJs
APP_URL=http://localhost:3000
APP_PORT=3000
APP_KEY=
APP_DEBUG=true
APP_VERSION=0.8
APP_STATUS=development
# APP_STATUS=production

# Limitation access
KUPPA_SHIELD=true
KUPPA_SHIELD_MAX=500

# Session
SESSION_LIFETIME=24

# Storage Configuration
#STORAGE_LOCATION=supabase
STORAGE_LOCATION=local
STORAGE_PATH="Public/Uploads"
STORAGE_MAX_SIZE=2097152


# Default Database
USE_SUPABASE=false
SUPABASE_URL=
SUPABASE_KEY=

GOOGLE_AUTH_ENABLED=false

# API ENDPOINT
ALLOWED_ORIGINS=http://localhost:3000

# Defaut core repo KuppaJs
KUPPA_CORE_REPO=https://github.com/dnysaz/kuppa-core.git